{
  "development": {
    "ENV_TYPE": "Running Development",
    "ENV_DEV": "Development",
    "CLIENT_ID": "",
    "CALLBACK_URL": "http://localhost:8080/callback",
    "SCOPES": "publicData esi-location.read_location.v1 esi-location.read_ship_type.v1 esi-fleets.read_fleet.v1 esi-location.read_online.v1",
    "API_PASS_URL": "http://localhost:3000"
  },
  "production": {
    "ENV_TYPE": "Running Production",
    "ENV_PROD": "Production",
    "CLIENT_ID": "",
    "CALLBACK_URL": "http://localhost:8080/callback",
    "SCOPES": "publicData esi-location.read_location.v1 esi-location.read_ship_type.v1 esi-fleets.read_fleet.v1 esi-location.read_online.v1",
    "API_PASS_URL": "http://localhost:3000"
  },
  "test": {
    "ENV_TYPE": "Running Test",
    "ENV_Test": "Test",
    "CLIENT_ID": "",
    "CALLBACK_URL": "http://localhost:8080/callback",
    "SCOPES": "publicData esi-location.read_location.v1 esi-location.read_ship_type.v1 esi-fleets.read_fleet.v1 esi-location.read_online.v1",
    "API_PASS_URL": "http://localhost:3000"
  }
}