// app global css
body
    background-image: url("../statics/background.jpg")
.margin-auto
    margin: auto

@font-face
  font-family logo
  src url(./fonts/CinzelDecorative-Bold.woff)

// declare a class which applies it
.logo-font
  font-family 'logo'
