// app global css
body
  // background-image: url("../statics/background.jpg")
  background: url("../statics/background.jpg") no-repeat center center fixed
  background-size: cover
  height: 100%
  // overflow: hidden

.margin-auto
    margin: auto

@font-face
  font-family logo
  src url(./fonts/CinzelDecorative-Bold.woff)

// declare a class which applies it
.logo-font
  font-family 'logo'

.fleet-commander
  background-color: rgba(220, 53, 69, 0.08)
.wing-commander
  background-color: rgba(40, 167, 69, 0.08)
.squad-commander
  background-color: rgba(23, 162, 184, 0.08)
.ml10 .q-chip
  margin-left: 10px
.ml20 .q-chip
  margin-left: 20px
.ml30 .q-chip
  margin-left: 30px
.toptable .q-table__middle
  max-height: calc(((100vh - 50px - (16px * 3)) * 0.6) - 96px)
.bottomtable .q-table__middle
  max-height: calc(((100vh - 50px - (16px * 3)) * 0.4) - 96px)
#right-chart,
#left-chart
  position: relative
  width: calc((100vw - 48px) * 0.5 * 0.25 ) !important
  height: calc((100vh - 50px - 48px) * 0.4 - 29px) !important